<main class="main-content">
    <div class="container-head">
        <div class="new-message-to" *ngIf="showHeader == 'new'">

        </div>
        <div class="channel-message">
            <app-channel-message-header [channel]="channel"  *ngIf="showHeader == 'channel'"></app-channel-message-header>
        </div>
        
        <div class="direct-message" *ngIf="showHeader == 'direct'">

        </div>
    </div>
    <div class="container-body-input scrollbar__none">
        <div class="container-body scrollbar__none" #containerBody>
            <app-message-box (readMessageEmitter)="onNewMessage()" [channel]="channel" [currentUser]="currentUser" [allUsers]="allUsers"></app-message-box>
        </div>
        <div class="container-input">
            <app-input (sendMessageEmitter)="onSendMessage($event)" [placeHolder]="this.channel?.name || ''"></app-input>
        </div>
    </div>
</main>


