.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 45px;
}

.search-field {
    background-color: #FFFFFF !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 17.5px 45px;
    width: 60%;
    max-width: 989px;
    height: 70px;
    border-radius: 42px;
    font-size: 24px;
    background: url('/icons/search.png') no-repeat scroll right 20px center;

    &:focus {
        outline: none;
    }
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    >span {
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
    }
}

.avatar {
    height: 70px;
    border-radius: 50%;
}

.show-status {
    position: absolute;
    border-radius: 50%;
    bottom: 6%;
    right: 10%;
    width: 14px;
    height: 14px;
    background-color: var(--green);
    border: 2px solid var(--white);
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    :nth-child(1){
        cursor: pointer;
    }
    >span {
        font-size: 24px;
        font-weight: 700;
        margin-left: 10px;
    }
}


@media (max-width: 1388px) {
    .logo {
        width: 18%;
    }

    .profile-container {
        >span {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1180px) {
  .profile-container {
    gap: 14px;
        >span {
            font-size: 1.4rem;
        }
    }

    .avatar {
        height: 60px;
    }
}

@media (max-width: 960px) {
    .main-container {
        justify-content: space-between;
    }

    .search-field {
        display: none;
    }
    
    .logo {
        width: 10.20em;
    }
}

@media (max-width: 730px) {
     .main-container {
        justify-content: space-around;
    }
}

@media (max-width: 575px) {
    .main-container {
        justify-content: space-between;
    }
    .profile-container {
        >span {
            display: none;
        }
        :nth-child(3) {
            display: none;
        }
    }
}