<div class="main-container">
    <img src="/icons/logo.png">

    <input type="text" class="search-field">

    <div class="profile-container" (click)="currentUser && showProfile(currentUser)">
        <span>{{currentUser?.displayName}}</span>
        <!-- <img src="/icons/avatars/avatar_1.png" class="avatar"> -->
        <div style="position: relative;">
            <img src="{{ currentUser?.photoURL }}" class="avatar">
            <span class="show-status"></span>
        </div>
        <img src="/icons/arrow-dwn.png">
    </div>

</div>