<div class="main-container">
    <img *ngIf="!isTablet || (isTablet && (dashboardResponsive.openSidebar$ | async))" 
        class="logo" src="/icons/logo.png">
    <div *ngIf="isTablet && ((dashboardResponsive.openMain$ | async) || (dashboardResponsive.openThread$ | async))" 
                    (click)="navigateToMain()" 
                    class="mobile-nav">
    <img src="/icons/arrow_left.png">
    <img src="/icons/devspaceIcon.png">
    <span>Devspace</span>
    </div>

    <input type="text" class="search-field">

    <div class="profile-container" (click)="currentUser && showProfile(currentUser)">
        <span>{{currentUser?.displayName}}</span>
        <div style="position: relative;">
            <img src="{{ currentUser?.photoURL }}" class="avatar">
            <span class="show-status"></span>
        </div>
        <img src="/icons/arrow-dwn.png">
    </div>

</div>