<div class="main-container">
    <img *ngIf="!isTablet || (isTablet && (dashboardResponsive.openSidebar$ | async))" 
        class="logo" src="images/icons/logo.png">
    <div *ngIf="isTablet && ((dashboardResponsive.openMain$ | async) || (dashboardResponsive.openThread$ | async))" 
                    (click)="navigateToMain()" 
                    class="mobile-nav">
    <img src="images/icons/arrow_left.png">
    <img src="images/icons/devspaceIcon.png">
    <span>Devspace</span>
    </div>

    <div class="overlay" *ngIf="showList && normalScreen" (click)="closeOverlay()"> </div>

    <div class="search-field-container" #search>
        <input type="text" class="search-field" placeholder="Devspace durchsuchen" [(ngModel)]="inputContent" (input)="inputText()" (focus)="activateSearch()">
        <div class="search-result scrollbar__none" *ngIf="!(this.filteredUsers.length == 0 && this.filteredChannels.length == 0 && this.filteredChannelMessages.length == 0 && this.filteredPrivateMessages.length == 0) && showList && normalScreen">
            <div class="search-result-user" *ngIf="filteredUsers.length > 0">
                <h3>User</h3>
                <ul>
                    @for (user of filteredUsers; track user.id) {
                        <li  (click)="clickUser(user)"> 
                            <img [src]="user?.photoURL?.startsWith('http') ? '/images/icons/avatars/avatar_1.png' : user?.photoURL" alt="">
                            <h4>{{ user.displayName }}</h4>
                            <span>{{ user.email }}</span>
                        </li>
                    } @empty {
                        Kein Nuzter gefunden.
                    }
                
                </ul>
            </div>
            <div class="search-result-channel " *ngIf="filteredChannels.length > 0">
                <h3>Channel</h3>
                <ul> 
                    @for (channel of filteredChannels; track channel.id) {
                        <li  (click)="clickChannel(channel)"> 
                            <img src="images/icons/tag.png" alt="">
                            <h4>{{ channel.name }}</h4>
                            <span>
                                @if(channel.name == 'Allgemein'){
                                    System Admin
                                } @else () {
                                    {{ findUserNameByID(channel.createdBy) }}
                                }
                            </span>
                        </li>
                    } @empty {
                        Kein Channel gefunden.
                    }
                
                </ul>
            </div>
            <div class="search-result-messages" *ngIf="filteredPrivateMessages.length > 0">
                <h3>Private Messages</h3>
                <ul>
                     @for (message of filteredPrivateMessages; track $index) {
                        <li class="message-li">
                            <div class="message-li-left">
                                <img src="images/icons/avatars/avatar_1.png" alt="">
                            </div>
                            <div class="message-li-right">
                                <h4>{{ findUserNameByID(message.authorID) }}<span>{{ dateService.getGermanRelativeDateWithTime(message.createdAt)}}</span></h4>
                                <p>{{ message.content}} </p>
                            </div>
                        
                        </li>
                    }
                 </ul>
            </div>
            <div class="search-result-messages" *ngIf="filteredChannelMessages.length > 0">
                <h3>Channel Messages</h3>
                <ul>
                     @for (message of filteredChannelMessages; track $index) {
                        <li class="message-li">
                            <div class="message-li-left">
                                <img src="images/icons/avatars/avatar_1.png" alt="">
                            </div>
                            <div class="message-li-right">
                                <h4>{{ findUserNameByID(message.authorID) }}<span>{{ dateService.getGermanRelativeDateWithTime(message.createdAt)}}</span></h4>
                                <p>{{ message.content}} </p>
                            </div>
                        
                        </li>
                    }
                 </ul>
            </div>
        </div>
    </div>
   

    <div class="profile-container" (click)="currentUser && showProfile(currentUser)">
        <span>{{currentUser?.displayName}}</span>
        <div style="position: relative;">
            <img src="{{ currentUser?.photoURL }}" class="avatar">
            <span class="show-status"></span>
        </div>
        <img src="images/icons/arrow-dwn.png">
    </div>

</div>
