@use './../../../../../styles.scss' as *;

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 45px;
}

.search-field-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    max-width: 989px;
    height: 70px;
}

.search-field {
    width: 100%;
    height: 70px;
    padding: 17.5px 45px;
    border: none;
    background-color: #FFFFFF !important;
    border-radius: 42px;
    font-size: 24px;
    background: url('/angular-projects/dabubble/images/icons/search.png') no-repeat scroll right 20px center;

    &:focus {
        outline: none;
    }
}

.search-result {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--light-purple);
    border-radius: 30px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    max-height: 60vh;
    overflow-y: auto;

    .divider {
        background-color: var(--grey) ;
        width: 100%;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .search-result-user,  .search-result-channel, .search-result-messages {

        ul {
            li {
                
                width: 100%;
                padding: 10px;
                border-radius: 20px;
                cursor: pointer;
                @include displayFlex($g: 10px, $jc: flex-start);

                    &:hover {
                    background-color: var(--bg-color);
                }

                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }
            
        }
    }  
    
    .search-result-messages {
        .message-li {
            align-items: flex-start !important;
            
            .message-li-right {
                h4 {
                    span {
                        margin-left: 10px;
                        color: var(--grey);
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    >span {
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
    }
}

.avatar {
    height: 70px;
    border-radius: 50%;
}

.show-status {
    position: absolute;
    border-radius: 50%;
    bottom: 6%;
    right: 10%;
    width: 14px;
    height: 14px;
    background-color: var(--green);
    border: 2px solid var(--white);
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    :nth-child(1){
        cursor: pointer;
    }
    >span {
        font-size: 24px;
        font-weight: 700;
        margin-left: 10px;
    }
}


@media (max-width: 1388px) {
    .logo {
        width: 18%;
    }

    .profile-container {
        >span {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1180px) {
  .profile-container {
    gap: 14px;
        >span {
            font-size: 1.4rem;
        }
    }

    .avatar {
        height: 60px;
    }
}

@media (max-width: 960px) {
    .main-container {
        justify-content: space-between;
    }

    .search-field {
        display: none;
    }
    
    .logo {
        width: 10.20em;
    }
}

@media (max-width: 730px) {
     .main-container {
        justify-content: space-around;
    }
}

@media (max-width: 575px) {
    .main-container {
        justify-content: space-between;
    }
    .profile-container {
        >span {
            display: none;
        }
        :nth-child(3) {
            display: none;
        }
    }
}

@media (max-width : 342px) {
    .main-container {
        justify-content: center;
        gap: 0px;
    }
}