<div class="container">
    <a 
        class="logo" 
        href="/" 
        matTooltip="Seite neu laden"
        matTooltipPosition="above"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipClass="custom__tooltip"
    >
      <img src="/icons/logo.png" draggable="false">
    </a>
  
    <div class="header__right">
      <span>Neu bei DABubble?</span>
      <a 
        href="/auth/register"
        data-label="Account erstellen"
        matTooltip="Registriere dich jetzt kostenlos"
        matTooltipPosition="above"
        matTooltipClass="custom__tooltip"
      >
        Account erstellen
      </a>
    </div>
</div>
  
