@use './../../../../../styles.scss' as *;

.container {
    width: 100%;
    padding-inline: $standardInlinePadding;
    padding-right: calc( $standardInlinePadding - 16px );
    height: 120px;
    @include displayFlex($ai: flex-end, $jc: space-between);
}

.logo {
    @include displayFlex($ai: center, $jc: center);
    img {
        user-select: none;
    }
}

.header__right {
    @include displayFlex($ai: flex-end, $jc: flex-end, $g: 16px);
    flex-direction: column;

    > span {
        @include fontNunito($lh: 100%, $fs: 18px);
        color: var(--black);
        margin-right: 16px;
    };

    > a {
        @include fontFigtree();
        display: inline-block;
        color: var(--purple-2);
        text-decoration: none;
        transition: border-color 125ms ease-in, color 125ms ease-in, font-weight 125ms ease-in;
        padding: 10px 15px;
        border-radius: 30px;
        border: 1px solid transparent;
        position: relative;

        &::after {
            content: attr(data-label);
            font-weight: 500;
            visibility: hidden;
            height: 0;
            overflow: hidden;
            display: block;
        }

        &:hover {
            @include fontFigtree($fw: 500);
            color: var(--purple-1);
            border: 1px solid var(--light-purple);
        }
    }
}