<div class="input-container scrollbar__none" [class.focused]="isTextareaFocused">
    <textarea 
         autoResize
        class="scrollbar" name="message" id="message" 
        placeholder="Nachricht an #Entwicklerteam"  
        (focus)="isTextareaFocused = true" (blur)="isTextareaFocused = false" 
        [(ngModel)]="inputMessage"></textarea>
    <div class="input-icons">
        <div class="input-icons-left">
            <span class="emoji pointer">

            </span>
            <span class="at pointer">

            </span>
        </div>
        <span class="send-button pointer" (click)="sendMessage()">

        </span>
    </div>
</div>