
.input-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 145px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    gap: 40px;
    padding: 20px;
    resize: none;
    font-size: 18px;
    color: #686868;

    &:focus {
        outline: none;
    }
}

.input-icons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;

    >div {
        >img {
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
        }

        >:nth-child(1):hover {
            content: url('/icons/sentiment_satisfied_selected.png');
            background-color: #ECEEFE;
            transition: 0.3s;
        }

        >:nth-child(2):hover {
            content: url('/icons/alternate_email_selected.png');
            background-color: #ECEEFE;
            transition: 0.3s;
        }
    }

    >img {
        cursor: pointer;

        &:hover {
            content: url('/icons/send_icon_hover.png');
            transition: 0.3s;
        }
    }

}