
@use './../../../../../../styles.scss' as *;

.input-container {

    position: relative;
    @include displayFlex($fd: column);
    width: calc(100% - 60px);
    margin: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 10px 10px 5px;
    &.focused {
        border: 1px solid var(--purple-2);
    }
}

textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 0 15px;           
    height: auto;          
    overflow: hidden;
    resize: none;
    border: none;
    background-color: #fff;
    color: #686868;
    height: 25px; 
    line-height: 25px;

    &:focus {
        outline: none;
    }
}


.input-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .input-icons-left {
        @include displayFlex($g:5px);
       
        .emoji {
            @include imgButton($wh: 40px, $url:'/icons/emoji.png');
            &:hover {
                background-image: url('/icons/emoji_hover.png');
            }
        }
    

    
        .at {
            @include imgButton($wh: 40px, $url:'/icons/at.png');
            &:hover {
                background-image: url('/icons/at_hover.png');
            }
        }
    

    }

    .send-button {
        @include imgButton($wh: 23px, $url:'/icons/send.png');
        &:hover {
            background-image: url('/icons/send_hover.png');
        }
    }

}
