@use './../styles.scss' as *;

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.overlay-container {
    width: 100%;
    height: 100vh;
    position: relative;
    @include displayFlex();

    .overlay-content {
        @include displayFlex($fd: column);
        padding: 40px;
        border-radius: 30px;
        width: 800px;
        background-color:var(--white);
        box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: .2);

        .content-header {
            width: 100%;
            @include displayFlex($jc: space-between);

            .content-title {
                font-weight: 700;
                font-size: 24px;
            }

            .close {
                padding: 5px;
                cursor: pointer;  
                background-color: var(--white);  
                border-radius: 50%;

                .close-content {
                    width: 24px;
                    height: 24px;
                    background: {
                        image: url('/icons/close.png');
                    };
                }

                &:hover {
                    background: var(--bg-color);
                    .close-content {
                        background: {
                            image: url('/icons/close_hover.png');
                            
                        };
                    }
                }
            }
        }

        .content-description {
            margin-top: 20px;
            font-size: 18px;
        }

        .richtext-editor-div {
            position: relative;
            width: 100%;
            margin-top: 20px;
            font-size: 18px;

            .user-list {
                position: absolute;
                left: 18px;
                overflow: hidden;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 20px;
                border: 1px solid var(--light-purple);
                padding: 10px 0;
                background-color: var(--white);
            }
            
        }

        .checkbox-div {
            width: 100%;
            @include displayFlex($jc: flex-start, $g:10px);
            margin-top: 20px;
            >p {
                font-size: 18px;
            }
            >span {
                width: 20px;
                height: 20px;
                
                background: {
                    image: url('/icons/cb.png');
                };
                
            }
            &.active{
                >span{
                    filter: brightness(1) !important;
                    background: {
                        image: url('/icons/cb_checked.png');
                    };
                }
            }
            &:hover {
                >span {
                    filter: brightness(1.2);
                }
            }
        }

        .input-div {
            width: 100%;
            margin-top: 20px;
            overflow: hidden;
            @include displayFlex($fd: column, $ai: flex-start, $g:20px);

            .input-div-header {
                width: 100%;
                @include displayFlex($jc: space-between);

                >span {
                    color: var(--pink);
                }
            }

            input {
                width: 100%;
                height: 60px;
                border: 1px solid var(--light-purple);
                border-radius: 40px;
                padding: 18px 20px;
                font-size: 18px;

                &:focus {
                    border: 1px solid var(--purple-2);
                }
                
            }

            .content-subtitle {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .content-footer {
            width: 100%;
            margin-top: 20px;
            @include displayFlex($jc: flex-end);

            button {
                cursor: pointer;
                padding: 12px 25px;
                border-radius: 25px;
                color: var(--white);
                background-color: var(--grey);

                &.active {
                    background-color: var(--purple-1);
                }
            }
        }
    }
}







  
