<div class="message-container">
    <div class="message">
         @for (message of messages; let index = $index; track message.id) {
             @if (allUsers.length) {
                <div class="message-content" #messageDiv [attr.data-id]="message.id">
                    @if (message.createdAt) {
                        @if (shouldShowDateDivider(index)) {
                            <div class="data-divider">
                                <div class="divider"></div>
                                <div class="data">{{ dateService.getGermanFullDate(message.createdAt) }}</div>
                            </div>
                        }
                    }

                    <div class="message-body" [class.active]="clickedMessageIndex === index" [class.reversed]="currentUser?.id === message.authorID">
                        <div class="avatar">
                            <img [src]="findURLByUserId(message.authorID)">
                        </div>
                        <div class="message-content">
                            <div class="message-content-top">
                                <span class="name">{{ message.authorName }}</span>
                                @if (message.createdAt) {
                                    <span class="time">{{ dateService.getHoursAndMinutes(message.createdAt) }} Uhr</span>
                                }
                            
                            </div>
                            <div class="message-content-middle">
                                <p>
                                    {{ message.content }}
                                </p>
                            </div>
                            <div class="message-content-bottom">
                                @if(message.reactions && convertReaction(message.reactions).length > 0) {
                                    <div class="emoji-wrapper">
                                        <div class="emoji-picker-trigger pointer"  (click)="showEmojiPicker($event, index, currentUser?.id === message.authorID ? 'right' : 'left')"></div>
                                        <div class="emojis">
                                            @for (emo of convertReaction(message.reactions); let j = $index; track $index) {
                                                @if(message.reactions[emo].users && message.reactions[emo].users.length > 0) {
                                                    <div class="emoji-div pointer">
                                                        @switch (emo) {
                                                            @case ('check-mark') {
                                                                 <app-emoji [emoji]="'checkmark'"></app-emoji>
                                                            }
                                                            @case ('thumbs-up') {
                                                                <app-emoji [emoji]="'thumbs_up'"></app-emoji>
                                                            }
                                                            @default {
                                                                <span>{{emo}}</span>
                                                            }
                                                        }
                                                       
                                                        
                                                        <span>{{ message.reactions[emo].users.length }}</span>
                                                        <div class="reactions">
                                                            @switch (emo) {
                                                                @case ('check-mark') {
                                                                    <app-emoji [emoji]="'checkmark'"></app-emoji>
                                                                }
                                                                @case ('thumbs-up') {
                                                                    <app-emoji [emoji]="'thumbs_up'"></app-emoji>
                                                                }
                                                                @default {
                                                                    <span>{{emo}}</span>
                                                                }
                                                            }
                                                            <div class="name-div">
                                                                @for (un of message.reactions[emo].users; track $index) {
                                                                    <span class="name">{{un}}</span>
                                                                }
                                                            </div>
                                                            <span class="has-reacted">hat reagiert</span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                @if(message.threadCount  && message.threadCount > 0) {
                                    <div class="thread-wrapper">
                                        <span class="answer pointer">
                                            {{ message.threadCount }} 
                                            <span>
                                            Antwort<ng-container *ngIf="message.threadCount > 1">en</ng-container>
                                            </span>
                                        </span>
                                        @if(message.lastAnswerTime) {
                                            <span class="last-answer-time">Letzte Antwort {{ dateService.getHoursAndMinutes(message.lastAnswerTime )}} Uhr</span>
                                        }
                                        
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="reaction-bar">
                            <ul>
                                <li>
                                    <span class="check-mark pointer" (click)="clickEmoji('check-mark', message)"></span>
                                </li>
                                <li>
                                    <span class="thumbs-up pointer" (click)="clickEmoji('thumbs-up', message)"></span>
                                </li>
                                <li>
                                    <span class="emoji pointer"  (click)="showEmojiPicker($event, index, currentUser?.id === message.authorID ? 'left' : 'right')"></span>
                                </li>
                                <li>
                                    <span class="answer pointer"></span>
                                </li>
                                <li>
                                    <span class="option pointer">
                                        <p class="edit-message">
                                            Nachricht bearbeiten
                                        </p>
                                    </span>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>  
                </div>
            }  
        }
        

        
    </div>

</div>


<ng-template #emojiPickerTemplate>
    <app-emoji-picker (closeOverlayEmitter)="closeEmojiPickerOverlay()" (selectedEojiEmitter)="onSelectedEmoji($event)"></app-emoji-picker>
</ng-template>
