<section class="main-layout">
    <app-main-header></app-main-header>
    <div class="main-container">
        <div class="side-bar" >
            <app-sidebar 
                #sidebar
                (addChannel)="onAddChannel()" 
                [showSelf]="showSidebar" 
                (clickChannelNameEmitter)="onClickChannelName($event)">
            </app-sidebar>
        </div>
        <div class="message">
            <app-message #message [channel]="clickedChannel" (leaveChannelEmitter)="onLeaveChannel()"></app-message>
        </div>
    </div>
    <div class="overlay-bar" [ngClass]="{'show-menu': showSidebar, 'hide-menu': !showSidebar}" #overlay (click)="toggleMenu()">
        <img class="icon-show-menu">
    </div>
</section>

<app-add-channel [showOverlay]="showAddChannelOverlay" (closeOverlayEmitter)="showAddChannelOverlay = false;"></app-add-channel>


