@use './styles/fonts.scss' as fonts;
@use './styles/colors.scss' as *;
@use '@angular/material' as mat;

$standardWidth: min(100%, 1920px);
$standardInlinePadding: clamp(20px, 6vw, 77px);

@mixin displayFlex($ai: center, $jc: center, $g: 0px, $fd: row) {
  display: flex !important;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
  flex-direction: $fd;
}

@mixin fontNunito($fw: 400, $lh: 120%, $fs: 20px, $ls: 0) {
  font-size: $fs;
  font-family: var(--fontfamily-nunito) !important;
  font-weight: $fw;
  line-height: $lh; 
  letter-spacing: $ls;
  text-decoration: none;
}

@mixin fontFigtree($fw: 400, $lh: 120%, $fs: 18px, $ls: 0) {
  font-size: $fs;
  font-family: var(--fontfamily-figtree) !important;
  font-weight: $fw;
  line-height: $lh; 
  letter-spacing: $ls;
  text-decoration: none;
}

@include mat.core();
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    ),
    typography: Nunito,
    density: 0,
  ));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: fonts.$font-family-nunito;
  background-color: $bg-color;
  scroll-behavior: smooth;
  font-size: 16px;
}

button {
  border: unset;
  cursor: pointer;
    &:hover, &:active {
      cursor: pointer;
    }
}

input:focus {
  outline: none;
}

.d__none {
  display: none !important;
}

.d__flex {
  display: flex !important;
}

.pointer {
  cursor: pointer;
}

.mat-tooltip.custom__tooltip {
  @include fontFigtree($fs: 14px);
  background-color: red;
  border-radius: 8px;
}

.mat-mdc-tooltip.custom__tooltip {
  --mdc-plain-tooltip-container-color: white !important;
  --mdc-plain-tooltip-supporting-text-color: white !important;
  
  .mdc-tooltip__surface {
    background-color: #686868 !important;
    color: white !important;
    border-radius: 20px !important;
    font-family: var(--fontfamily-figtree) !important;
    font-size: 12px !important;
    padding: 8px 8px !important;
    text-align: center !important;
    border: none !important;
    box-shadow: 0 2px 10px 0px #00000014 !important;
  }
}

:root {
  --fontfamily-nunito: #{fonts.$font-family-nunito};
  --fontfamily-figtree: #{fonts.$font-family-figtree};
}