<div class="impressum__container">
    <div class="impressum__header">
      <h1>Impressum</h1>
      <p>Angaben gemäß § 5 TMG für das Testprojekt „DA Bubble“</p>
      <div class="back__arrow" (click)="goBack()"></div>
    </div>
    <div class="impressum__content">
      <p><strong>Name:</strong> Simon Heistermann</p>
      <p><strong>Anschrift:</strong> Musterstraße, 12345 Musterstadt</p>
      <p><strong>E-Mail:</strong> <a href="mailto:buisness@heistermann-solutions.de"> buisness&#64;heistermann-solutions.de</a></p>
      <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
      Simon Heistermann, Anschrift wie oben</p>
  
      <p><strong>Haftungsausschluss:</strong><br>
      Dieses Projekt ist ein nicht-kommerzieller Prototyp zu Testzwecken. Trotz sorgfältiger Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
  
      <p class="privacy__box"><strong>Datenschutz:</strong><br>
      Es gelten die Bestimmungen der <a [routerLink]="['/auth/privacy-policy']" rel="noopener noreferrer" data-label="Datenschutzerklärung">Datenschutzerklärung</a> gemäß DSGVO.</p>
    </div>
</div>
  